@font-face {
    font-family: 'Sport';
    src: url("fuentes/TrueType/SFSportsNight.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
input {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /*background: #ebeeef;*/
    background-image: url("../_img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap-login {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0px 30px 0 rgba(255,255,255,0.2), 0 0px 60px 0 rgba(255,255,255, 0.19);
    /*box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.4);*/
}

.login-form-title {
    background-image: url(../_img/loginbg.jpg);
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;
}

.login-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.6);
}

.login-form-title-1 {
    font-family: Sport;
    font-size: 5vh;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.login-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 93px 190px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 3vh;
}

.label-input {
    font-family: Sport;
    font-size: 2vh;
    color: #808080;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 0px;
    left: -145px;
    width: 120px;
}

.input {
    font-family: Sport;
    font-size: 2vh;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;

}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
    margin-bottom: -5vh;
}

.login-form-btn {
    outline: none;
    border: none;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #bc612c;
    border-radius: 25px;

    font-family: Sport;
    font-size: 2vh;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn:hover{
    cursor: pointer;
}

/*-----------------------------------------------------------------
[ Panel de control ] */

.dashboard{
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dashboard-title {
    background-image: url(../_img/loginbg.jpg);
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;
}

.dashboard-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,1);
}

.dashboard-title-1 {
    font-family: Sport;
    font-size: 5vh;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.dashboard-liga, .dashboard-equipo, .dashboard-resultados{
    display: block;
    background-image: url(../_img/loginbg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-top: 5px solid white;

    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: sepia(0.8); /* IE5+ */
    -webkit-filter: sepia(0.8); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .2s ease-in-out;

    padding: 10px;
}
.dashboard-liga:hover, .dashboard-equipo:hover, .dashboard-resultados:hover{
    filter: none;
    -webkit-filter: sepia(0);
    -webkit-transform: scale(1.01);
    cursor: pointer;
}
.dashboard-liga:hover .dashboard-text, .dashboard-equipo:hover .dashboard-text, .dashboard-resultados:hover .dashboard-text{
    font-size: 4vh;
}
.dashboard-liga{
    border-top-right-radius: 10px;
}
.dashboard-equipo{

    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dashboard-resultados{
    border-top-left-radius: 10px;
}
.dashboard-text{
    display: flex;
    height: 100%;
    font-family: Sport;
    font-size: 3vh;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition:font-size 0.5s;
    -moz-transition:font-size 0.5s; /* Firefox 4 */
    -webkit-transition:font-size 0.5s; /* Safari and Chrome */
    -o-transition:font-size 0.5s;
}

/*------------------------------------------------------------------
[ Equipos ] */

.container-equipos {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background: #ebeeef;*/
    background-image: url("../_img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap-equipos {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.equipos-title {
    background-image: url(../_img/loginbg.jpg);
    width: 30vw;
    height: 12vh;
    min-width: 360px;
    margin: auto;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 2vh;
}

.equipos-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.6);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

}

.equipos-title-1 {
    font-family: Sport;
    font-size: 6vh;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.container-equipos-btn {
    width: 100%;
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0;
}

.equipos-btn {
    width: 30vw;
    outline: none;
    border: none;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #bc612c;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    font-family: Sport;
    font-size: 2vh;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.equipos-btn:hover{
    cursor: pointer;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .login-form {
        padding: 43px 15px 57px 117px;
    }
}

@media (max-width: 480px) {
    .login-form {
        padding: 43px 15px 57px 15px;
    }

    .wrap-input{
        margin-bottom: 2vh;
    }

    .label-input {
        text-align: left;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        padding: 0 5px;
    }

    .container-login-form-btn {
        margin-bottom: -2vh;
    }

    .dashboard{
        grid-template-columns: 1fr 1fr;
    }

    .dashboard-liga{
        border-top-right-radius: 10px;
    }
    .dashboard-equipo{

        border-left: 5px solid white;
        border-right: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
    }
    .dashboard-resultados{
        border-top-left-radius: 0px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}